<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-feature android:name="android.hardware.usb.host" android:required="false"/>
    <application android:theme="@style/Theme.FoxBrowser" android:label="FoxBrowser" android:usesCleartextTraffic="false">
        <activity android:name=".MainActivity" android:screenOrientation="unspecified" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
            <intent-filter><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:scheme="http"/><data android:scheme="https"/></intent-filter>
        </activity>
        <service android:name=".keyboard.FoxKeyboardService" android:label="FoxKeyboard" android:permission="android.permission.BIND_INPUT_METHOD" android:exported="true">
            <intent-filter><action android:name="android.view.InputMethod"/></intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/input_method"/>
        </service>
    </application>
</manifest>
